/* Cameron MacKenzie 8642181 */

h1 {
    font-size: 2em;
}

h1,
h3,
h4 {
    font: normal 200 20px/normal 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1 {
    font: normal 200 30px/normal 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-image: linear-gradient(to right, #3a7bd5, #00d2ff);
    text-align: center;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mainSection {
    float: left;
    width: 70%;
}

#figElement {
    text-align: center;
    float: right;
    width: 50%;
}

.asideHeading {
    font: normal 200 25px/normal 'Times New Roman', 'Arial Narrow', Arial, sans-serif;
}

#theAside {
    float: right;
    width: 30%;
    text-align: center;

}

body {
    max-width: 5000px;
}

q {
    margin-left: 1em;
    font-variant: normal;
    font-style: italic;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium' 'Arial Narrow' Arial sans-serif;
    color: rgb(78, 40, 114);
    border: 0.1rem solid black;
    padding: 0.3em;
    box-shadow: 5px 5px 15px;
}

#quoteHeading {
    margin-left: 1em;
    padding: 1em;
}

blockquote {
    width: 50%;
}

#photoCaptionAbove {
    float: right;
    display: inline;
    margin-right: 3em;
}


#figPhoto {
    margin-left: 0em;
    margin-right: 1em;
}

#Biography {
    padding-left: 2em;
    float: left;
    height: 20rem;
}

#photo {
    margin-top: 1em;
    margin-left: 1em;
    border: 0.2rem solid gray;
}

figure {
    float: right;
    padding-right: 1em;
    text-align: center;
    background-color: rgb(104, 157, 204);
    border: 0.2rem solid blueviolet;
    border-radius: 5px;
}

figcaption {
    text-align: right;
    font: italic small-caps 400 1rem/1.5 'Playfair Display', Georgia, serif;
    color: #310505
}


#ListsofSites {
    margin-right: 1em;
    margin-top: 1em;
    border: 0.2rem solid black;

}

#FamousQuote {
    clear: both;
}


ul {
    padding-left: 0em;
    list-style: none;
}


a {
    line-height: 2em;
    text-decoration: none;
    color: rgb(7, 73, 7);
}

a:hover {
    color: darkmagenta;
}

#bioHeading {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.form-label {
    font-weight: 600;
    color: brown;
    font-variant: small-caps;
    text-align: center;
}

#ContactForms {
    margin-right: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border: 0.2rem solid black;
    text-align: left;
}

input {
    height: 2em;
    width: 15em;
    text-align: center;
}

#ContactHeader {
    text-align: center;
}

cite {
    padding-left: 1em;
}

#footer {
    padding-top: 1em;
    text-align: center;
    clear: both;
    height: 2em;
    color: aliceblue;
    background-image: linear-gradient(to right, #2c3e50, #4ca1af);
    font-size: 20px;

}

#videoHeading {
    margin-bottom: 1em;
    margin-top: 2em;
    text-align: center;
    margin-left: auto;
}

#video {
    display: block;
    border: 0.2rem dashed black;
    border-radius: 1em;
    margin-left: auto;
    margin-bottom: 2em;

}

:root {
    background-color: #a8c3eb;
    font: normal 200 20px/normal 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    margin: auto;
    padding: auto;
    border: auto;
}

@media (max-width: 600px) {
    html {
        font-size: 10px;
    }

    * {
        float: none;
        clear: both;
        width: 100%;

    }

    figure {
        max-width: 100%;
    }

}